<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Livros</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <% if (s == 1) { %>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso!</b>
            </div>
        <% } else if (s == 2) { %>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Deletado com <b>sucesso!</b>
            </div>
        <% } else if (s ==3 ) {%>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso!</b>
            </div>
        <% } %>
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Gênero</th>
                    <th>Sinopse</th>
                    <th>ID</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% livros.forEach(livro => { %>
                    <tr>
                        <td><%= livro.titulo %></td>
                        <td><%= livro.autor %></td>
                        <td><%= livro.genero %></td>
                        <td><%= livro.sinopse %></td>
                        <td><%= livro.id %></td>
                        <td>
                            <a class="btn btn-primary" href="livros/<%= livro.id %>">Detalhar</a>
                            <form action="/livros/deletar/<%= livro.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar este livro?');">Deletar</button>
                                 
                            </form>
                            <form action="/livros/editar/<%= livro.id %>" method="GET" style="display:inline;">
                                <button type="submit" class="btn btn-warning">Editar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>