<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes de <%= atendente.nome%></title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <div>
            Nome: <%= atendente.nome %>
        </div>
        <div>
            Função: <%= atendente.funcao %>
        </div>
        <div>
            Salário: <%= atendente.salario %>
        </div>
        <div>
            Id: <%= atendente.id %>
        </div>
        <div>
            <a href="/atendentes">Voltar para listagem</a>
        </div>
    </div>
    <%- include("../partials/rodape.ejs") %> 
</body>  
</html>
