<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Atendentes</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <% if (s == 1) { %>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso!</b>
            </div>
        <% } else if (s == 2) { %>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Deletado com <b>sucesso!</b>
            </div>
        <% } else if (s ==3 ) {%>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso!</b>
            </div>
        <% } %>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Função</th>
                    <th>Salário</th>
                    <th>Id</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% atendentes.forEach(atendente => { %>
                    <tr>
                        <td><%= atendente.nome %></td>
                        <td><%= atendente.funcao %></td>
                        <td><%= atendente.salario %></td>
                        <td><%= atendente.id %></td>
                        <td>
                            <a class="btn btn-primary" href="atendentes/<%= atendente.id %>">Detalhar</a>
                            <form action="/atendentes/deletar/<%= atendente.id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar este livro?');">Deletar</button>
                            </form>
                            <form action="/atendentes/editar/<%= atendente.id %>" method="GET" style="display:inline;">
                                <button type="submit" class="btn btn-warning">Editar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>